
.user-detail {
	&>.el-row {
		margin-bottom: 24px;
	}
	& .title {
		padding-bottom: 20px;
		border-bottom: 1px solid #D7D7D7;
		font-family: PingFangSC-Medium;
		font-size: 18px;
		color: #303030;
		letter-spacing: 0.44px;
	}
	& .basic-info {
		// height: 300px;
		&>.el-col {
			height: 100%;
			& .el-card {
				width: 100%;
				height: 100%;
				background-color: #fff;
				border-radius: 4px;
				margin: 0;
			}
			& .user-head {
				width: 236px;
				max-width: 100%;
				margin: 0 auto;
				position: relative;
				& img {
					display: block;
					width: 100%;
				}
				& .change-pic {
					position: absolute;
					right: 0;
					bottom: 0;
					width: 68px;
					height: 26px;
					line-height: 26px;
					text-align: center;
					background: rgba(0, 0, 0, .5);
					border-top-left-radius: 4px;
					font-family: PingFangSC-Medium;
					font-size: 14px;
					color: #FFFFFF !important;
					cursor: pointer;
					& i {
						color: #FFFFFF;
						padding-right: 2px;
					}
				}
			}
		}
		& .module {
			& p {
				padding: 12px 0;
				font-family: PingFangSC-Medium;
				font-size: 16px;
				color: #303030;
			}
			& label {
				display: inline-block;
				width: 65px;
			}
		}
		& .other-info {
			& label {
				width: 80px;
			}
		}
		& .mentor-other-info,
		& .audit-other-info {
			& label {
				width: auto;
			}
		}
		& .audit-other-info {
			height: 187px;
		}
		& .btns {
			padding: 13px 0 14px;
		}
		& .user-grade {
			padding: 10px 0 !important;
			& span {
				display: inline-block;
				width: 46px;
				height: 16px;
				border: 1px solid #FFA4DA;
				font-size: 0;
				& i {
					display: inline-block;
					width: 23px;
					height: 16px;
					line-height: 16px;
					text-align: center;
					font-size: 12px;
					font-style: normal;
					&.left {
						background: #FFA4DA;
						color: #FFFFFF;
					}
					&.right {
						color: #FFA4DA;
					}
				}
			}
				
		}
		& .mentor-data {
			margin-top: 24px;
			font-family: PingFangSC-Medium;
			& .label {
				font-size: 16px;
				color: #303030;
				text-align: center;
				padding-bottom: 10px;
			}
			& .num {
				font-size: 16px;
				color: #F56C6C;
				text-align: center;
			}
		}
		& audio {
			padding: 14px 0 15px;
		}
	}
	& .mentor-more-operation {
		& p {
			padding: 8px 0;
			font-family: PingFangSC-Medium;
			font-size: 16px;
			color: #303030;
		}
	}
}

i.edit {
	cursor: pointer;
	color: #409EFF;
}